@keyframes text-fade {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

.animate-text-fade {
  animation: text-fade 500ms ease forwards;
}